@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #06b6d4; /* primary (default) */
  --color-primary-50: #ecfeff;
  --color-primary-100: #cffafe;
  --color-primary-200: #a5f3fc;
  --color-primary-300: #67e8f9;
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-600: #0891b2;
  --color-primary-700: #0e7490;
  --color-primary-800: #155e75;
  --color-primary-900: #164e63;
}
.gradient-background{
background: hsla(213, 77%, 14%, 1);

background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}
.font-pops {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Sohne", sans-serif;
}
@font-face {
  font-family: Sohne;
  src: url("/Sohne-Buch.ttf");
}
@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

.storycircle {
  --n:20;   /* control the number of dashes */
  --d:8deg; /* control the distance between dashes */
  --t:5px;  /* control the thickness of border*/
  --c:red;  /* control the coloration */
  
  width: 120px;
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin: 10px;
  position: relative;
}
.storycircle::after {
  content:"";
  position:absolute;
  inset:0;
  border-radius:50%;
  padding: var(--t);
  background: var(--c);
  mask:
   linear-gradient(#0000 0 0) content-box intersect,
    repeating-conic-gradient(from calc(var(--d)/2),#000 0 calc(360deg/var(--n) - var(--d)),#0000 0 calc(360deg/var(--n)));
}


#reply .GifPickerReact{
  @apply h-[400px]   font-pops rounded-2xl border-none bg-primary-950 !important;
}
.GifPickerReact{
  @apply h-[200px]    lg:h-[450px]  font-pops rounded-t-none lg:rounded-tr-2xl lg:rounded-l-none border-none !important;
}
.gpr-header{
  @apply border-none !important;
}

.gpr-category-list{
  @apply pt-0 pb-3 !important;
}
.gpr-search{
  
  @apply text-sm bg-neutral-900 !important;
}
.multiLineLabel {
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.hiddenscroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hiddenxscroll {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.fix-overflow {
  word-break: break-word;
  white-space: initial;
}
.two-line-ellipsis {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.four-line-ellipsis {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.hiddeninput {
  display: none !important;
}

.thrip {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  padding: 0;
}

.thrip img:nth-of-type(1) {
  grid-row: 1 / span 2;
  @apply aspect-[8.65/10];
}

.thrip img:nth-of-type(2) {
  grid-row: 1;
}

.thrip img:nth-of-type(3) {
  grid-row: 2;
}

.img-wrap {
  overflow: hidden;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.font-poppins {
  font-family: "Outfit", monospace;
}
.hiddenscroll::-webkit-scrollbar {
  /* WebKit */
  display: none;
}
.hiddenxscroll::-webkit-scrollbar {
  /* WebKit */
  display: none;
}
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.multiLineLabel .textMaxLine {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.parent-container {
  overflow-x: hidden; /* Prevent overflow on the X axis */
  width: 100%;
}
.stories-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks within the children */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.stories-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.stories-container {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.story-item {
  display: inline-block; /* Ensure child elements stay in a single line */
  width: 128px; /* Set a fixed width for child elements */
  flex-shrink: 0; /* Prevent child elements from shrinking */
}
